@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100vw;
  height: 500px;
  background-color: #0a2647;
  color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.brand {
  margin-top: -7px;
}
.brand span {
  color: #205295;
}
.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.menu  li {
  list-style: none;

}
.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px; 
}

.menu li:hover a{
  background-color: #205295;
  color: #191c32;
}

.menu .active {
  color: aqua;
 
}


.menu li a:hover {
  color: #66E7C8;
}

.menu-icon img {
  filter: invert(100%);
  height: 40px;
  width: 50px;
  padding-right: 20px;
  display: none;
}


.main {
  margin: 0 auto;
  width: 100%;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2em;
  text-align: center;
  justify-content: center;
}

h1 {
  font-size: 3em;
}
.info-content{
  padding-top: 130px;
}

.info-content span {
  color: #205295;
}

.download-cv {
  padding: 10px 20px;
  background-color: cyan;
  border: 0.5px solid black;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
  -moz-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
  box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
}

.download-cv:hover {
  background-color: azure;
  box-shadow: none;
}

.main img {
  border:  7px solid black;
  width: 300px;
  height: 390px;
  z-index: 1;
  background-color: gray;
}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}

.about img {
  width: 100%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
}

.about-info h2 {
  font-size: 2em;
  color: #191c32;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: #205295;
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
  color: black;
  font-weight: bold;
}

.aptitudes {
  display:grid;
  justify-content:center;
  width: 100%;
  align-items: center;
  grid-template-columns: 80%;
  grid-template-areas: "titulo" "imagen";
}
.aptitudes h2 {
  font-size: 2em;
  color: #191c32;
  grid-area: titulo;
  text-align:start;
  margin-top: 20px;

}
.aptitudes .imagen{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.aptitudes .imagen a img{
  height: 90px;
  grid-area: imagen;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  transform: scale(var(--escala, 1));
  transition: transform 0.25s;
}
.aptitudes .imagen a img:hover {
  --escala: 1.2;
  cursor: pointer;
}

.portfolio,
.contact-section {
  width: 100vw;
  background-color: #0a2647;
  color: #fff;
}

.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.portfolio-heading h2,
.contact-heading h2 {
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: #2b3058;
  margin: 1em;
}

.card__img {
  width: 100%;
  height: 150px;
  background-image: url(../img/proyectoFinal.png);
  background-size: cover;
}

.card__title {
  padding: 20px;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
}
.card__proyect-links a {
  color: #fff;
  text-decoration: none;
}

.card__proyect-links i {
  font-size: 1.5em;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.project-details-button a {
  text-decoration: none;
  color: black;
}


.contact-section {
  padding: 3em;
}

.container-contact {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.contact-section img {
  width: 750px;
  height: 700px;
  bottom: 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.form-group .btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background-color: #205295;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding: 2em;
  background-color: #205295;
}

.footer-content h2 {
  font-size: 3em;
}

.footer-content h5 {
  font-size: 1.5em;
  text-align: center;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-networks i {
  font-size: 1.5em;
}

.portfolio,
.contact-section {
  width: 100vw;
  background-color: #0a2647;
  color: #fff;
}

.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}


.portfolio-heading h2,
.contact-heading h2 {
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: #2b3058;
  margin: 1em;
}

.card__img {
  width: 100%;
  height: 150px;
  background-size: cover;
}

.card__title {
  padding: 20px;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
}
.card__proyect-links a {
  color: #fff;
  text-decoration: none;
}

.card__proyect-links i {
  font-size: 1.5em;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.project-details-button a {
  text-decoration: none;
  color: black;
}

.contact-section {
  padding: 3em;
}

.container-contact {
  margin: 0 auto;
  margin-top: 10em;
  justify-content: center;
}



.contact-section img {
  width: 750px;
  height: 700px;
  bottom: 0px;
}

.form-group {
  display: flex;
  width: 50vw;
  text-align: center;
  border: 1px solid #fff;
  padding: 5px;
}
.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.form-group .download-cv {
  padding: 10px 20px;
  margin: 1em;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background-color: aqua;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding: 2em;
  background-color: #205295;
}

.footer-content h2 {
  font-size: 3em;
}

.footer-content h5 {
  font-size: 1.5em;
  text-align: center;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-networks i {
  font-size: 1.5em;
}
.sotial-networks a {
  color: #fff;
  text-decoration: none;
  transform: scale(var(--escala, 1));
  transition: transform 0.25s;
}
.sotial-networks a:hover {
  --escala: 1.2;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .wrapper {
    width: 100vw;
    height: 800px;
    background-color: #0a2647;
    color: #fff;
  }
  .menu {
    display: block;
    position: fixed;
    top: 0;
    right: -200%;
    background: #222;
    width: 50%;
    height: 100vh;
    transition: 0.3s;
    z-index: 100;
  }
  .menu li {
    padding: 1rem;
    display: end;
    justify-content: end;
    margin: 0;
  }
  .main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "imagen" "titulo";    
    width: 100%;
  }
  nav ul li:nth-child() {
    background: none;
    padding: 1/2rem; 
  }
  .menu-icon:hover + ul {
    right: 0;
  }
  nav ul:hover {
    right: 0;
  } 
  .main img{
    grid-area: imagen;
    margin: auto;
    justify-content: center;
  }
  .menu-icon img {
    display: block;
    top: 20px;
    right: 10px;
    display: list-item;
    padding-right: 0px;
  }

  .info-content{
    padding-top: 0px;
  }

  .main .info-content{
    grid-area: titulo;
  }

  .about {
    display: grid;
    width: 100vw;
    align-items: center;
    grid-template-columns: auto;
    grid-template-areas: "imagen" "info";
  }
  
  .about img {
    width: 100%;
    grid-area: imagen;
  }
  
  .about-info {
    grid-area: info;
  }
  .footer-content h2 {
    font-size: 3em;
    text-align: center;
  }

}

